.container{
    padding:2% 0 0 0;
    margin:0px auto;
    text-align: center;
    text-transform: uppercase;
    display:table;
}

.countdown {
    width: 62%;
    margin:0px auto;
    text-align: center;
}

#countdown_cont h3 {
    font-size: 1.5em;
    color: #BBBBBB;
    font-weight: 300;
    margin-bottom: 70px;
}

@media(max-width:1200px) {
    #circle_rotation {
        width: 100%;
        height:auto;
    }

    #countdown_cont h3 {
        margin: 10% 0;
    }

    .container{ 
        margin-top:5%;
    }
}

@media(max-width:300px) {
    #countdown_cont h3 {
        font-size: 1.1em;
    }
}